#iframe_map {
  width: 100%;
  height: 550px;
  border: 0;
  position: relative;
  background-color: $sea-blue;

  @include media-breakpoint-down(md) {
    height: 400px;
  }

  @include media-breakpoint-down(xs) {
    height: 230px;
  }

  .leaflet-popup-content {
    a {
      color: $white;
    }
  }

  .key {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba($white, 0.8);
    padding: 0.5rem 2rem 0.5rem 1rem;
    z-index: 9999;
    border-radius: $border-radius;
    margin: 0;
    list-style: none;
    font-family: $font-body;
    display: flex;
    font-size: 0.875rem;

    li + li {
      margin-left: 1rem;
    }

    img {
      max-width: 20px;
      height: auto;
      margin-right: 0.5rem;
    }

    button {
      position: absolute;
      top: 3px;
      right: 3px;
      line-height: 0.5;
      padding: 0;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  svg.logo,
  button.my-location {
    position: absolute;
    z-index: 9999;
    right: 1rem;
    top: 1rem;
  }

  svg.logo {
    width: 150px;
    height: 48px;
    background-color: rgba($white, 0.8);
    fill: $brand-primary;
  }

  h5 {
    font-size: 1rem;
  }
}

.map-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $brand-primary;
  border-color: $brand-primary transparent $brand-primary transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//markers
.marker-cluster {
  div {
    font-family: $font-body;
    color: $white;
    font-weight: bold;
  }
}

.marker-cluster-large {
  background-color: rgba($brand-primary, 0.75);

  div {
    background-color: darken($brand-primary, 5);
  }
}

.marker-cluster-medium {
  background-color: rgba(lighten($brand-primary, 5), 0.75);

  div {
    background-color: $brand-primary;
  }
}

.marker-cluster-small {
  background-color: rgba(lighten($brand-primary, 10), 0.75);

  div {
    background-color: lighten($brand-primary, 5);
  }
}
