@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700');

$border-radius: 1rem;

// Hamburger Icon
$bar-width: 1.2rem;
$bar-height: 3px;
$bar-spacing: 3px;
$hamburger-bar-color: #373a3c;

// Social colors
$socialColours:
  (
    facebook: #3b5998,
    twitter: #00aced,
    google: #dd4b39,
    linkedin: #007bb6,
    youtube: #b00,
    instagram: #517fa4,
    pinterest: #cb2027,
    flickr: #ff0084,
    tumblr: #32506d,
    forusquare: #0072b1,
    dribbble: #ea4c89,
    vine: #00bf8f
  );

$border-radius: 5px;

$brand-primary: #003d5b;
$brand-secondary: #d1495b;
$brand-tertiary: #edae46;
$brand-v2: #30638e;
$brand-v3: #00798c;
$brand-white: #fbf8ef;

$events-color: #444359;

$sea-blue: #a8d3e0;

$ink-black: #212529;

$background-light: $brand-white;
$primary: $brand-primary;
$brand-trainer: $brand-tertiary;

$font-body: 'Instrument Sans', sans-serif;
$font-header: 'Roca Bold', serif;

$box-shadow: 0 4px 6px -1px #0000001a;
$outline:  1px solid #d1d5db;
