.navbar {
  padding: 0.25rem 1rem;
}

.navbar-brand {
  svg {
    width: 160px;
    height: 52px;
    fill: $brand-primary;
  }
}

#main-menu {
  justify-content: flex-end;
}

#lang-switch {
  position: relative;

  a {
    color: $white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .trp-language-switcher  {
    width: auto;
    height: auto;

    & > div {
      padding: 0;
      border: 1px solid $black;
    }
  }
}

#langModal {
  ul {
    margin: 0;
    padding: 0;
  }

  .modal-body {
    padding: 1.5rem;
  }
}
