.item-list {
  width: 100%;
  background-color: $white;
  box-shadow: $box-shadow;
  outline: $outline;
  outline-offset: -1px;
  border-radius: 1rem;
  font-size: 0.875rem;

  tr.group-row {
    border-bottom: 1px solid $gray-200;

    &:last-of-type {
      border: 0;
    }
  }

  td,
  th {
    padding: 1rem;

    .status {
      span {
        white-space: nowrap;
      }
    }

    .btn {
      margin: 0.125rem 0;
    }

    .btn-group {
      white-space: nowrap;

      button.btn-last {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .status {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

form.filter {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  input[type="text"] {
    margin-right: 0.25rem;
    padding: 0.35rem;
  }

  .search-wrap {
    display: flex;
    align-items: center;
  }

  label {
    margin: 0;
    margin-right: 0.25rem;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

ul.account-details {
  label {
    font-weight: bold;
    margin: 0;
    margin-right: 0.25rem;
  }
}

nav.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

nav .page-numbers {
  border-radius: 1.5rem;
  font-size: 1.125rem;
  @extend .pagination;

  li + li {
    margin-left: 0.5rem;
  }

  li a,
  li span {
    color: $brand-primary;
    padding: 0.5rem 1rem;
    @extend .page-link;

    &.current {
      background-color: $brand-primary;
      color: $white;

      &:hover {
        color: $white;
      }
    }

    &:hover {
      color: $white;
      background-color: $brand-v3;
    }
  }
}
