body.single,
body.tax-hub {
  h1 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .item {
    border-bottom: 1px solid $gray-200;
    padding: 1rem 0;

    span {
      color: white;
      padding: 0.25rem;
      border-radius: 3px;
    }

    &.choice- {
      &1 span {
        background-color: lighten($red, 0);
      }

      &2 span {
        background-color: lighten($red, 15);
      }

      &3 span {
        background-color: lighten($yellow, 0);
      }

      &4 span {
        background-color: lighten($green, 15);
      }

      &5 span {
        background-color: lighten($green, 0);
      }
    }
  }

  .leaflet-container {
    border-radius: 4px;
  }

  .meta {
    padding-left: 1rem;
  }

  .panel.healthchecks {
    border: 0;
    margin-top: 2rem;

    table {
      margin-bottom: 1rem;
    }
  }

  .links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 0.5rem;

    li {
      margin-right: 0.5rem;
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  section {
    margin: 1rem 0;
  }
}

body.single-healthchecks {
  .header {
    margin-bottom: 2rem;
    //@extend section;

    h1 {
      margin-top: 0;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  label {
    margin: 0;
    padding: 0.5rem;
  }

  .item {
    display: flex;
    justify-content: space-between;

    .response {
      @extend .btn-sm;

      white-space: nowrap;
    }
  }
}

#change-author {
  margin: 1rem 0;

  label {
    margin-bottom: 0.5rem;
  }
}

#initiative-map {
  width: 100%;
  height: 300px;
  background-color: $sea-blue;

  .leaflet-popup-content {
    max-width: 140px;
  }
}

main.healthcheck-form {
  .header {
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 0;
    }

    .date {
      font-style: italic;
    }
  }

  .steps {
    span {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .step-bar-container {
    width: 100%;
    display: flex;
    height: 1rem;
    background-color: $gray-100;
    border-radius: $border-radius;
    border: 1px solid $gray-300;
    margin-bottom: 1rem;

    .step-bar {
      background-color: $brand-primary;
      border-radius: $border-radius;
    }
  }

  form.acf-form {
    margin-top: 2rem;
  }

  .acf-field-group {
    padding: 0;
    margin-bottom: 2rem;

    & > .acf-label {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .acf-button-group label.selected {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 10);
  }

  .acf-form-submit {
    text-align: center;

    .acf-button {
      @extend .btn-lg;
    }
  }
}

//healthcheck graphing
#healthcheck-bar {
  margin-bottom: 1rem;
  margin-top: 2rem;

  .ytick tspan {
    display: none;
  }
}

#graph-loading-wrapper {
  position: relative;
  width: 100%;
  padding: 4rem;
}

.map-loading,
.graph-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $brand-primary;
  border-color: $brand-primary transparent $brand-primary transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
