body.single {
  h1 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    font-weight: bold;
  }

  .item {
    border-bottom: 1px solid $gray-200;
    padding: 1rem 0;

    span {
      color: white;
      padding: 0.25rem;
      border-radius: 3px;
      border: 1px solid $gray-700;
    }

    &.choice- {
      &1 span {
        background-color: red;
      }

      &2 span {
        background-color: orange;
      }

      &3 span {
        background-color: yellow;
        color: $gray-700;
      }

      &4 span {
        background-color: blue;
      }

      &5 span {
        background-color: green;
      }
    }
  }

  .leaflet-container {
    border-radius: 4px;
  }
}
