body.single {
  h1 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    font-weight: bold;
  }

  .item {
    border-bottom: 1px solid $gray-200;
    padding: 1rem 0;

    span {
      color: white;
      padding: 0.25rem;
      border-radius: 3px;
    }

    &.choice- {
      &1 span {
        background-color: lighten($red, 0);
      }

      &2 span {
        background-color: lighten($red, 15);
      }

      &3 span {
        background-color: lighten($yellow, 0);
      }

      &4 span {
        background-color: lighten($green, 15);
      }

      &5 span {
        background-color: lighten($green, 0);
      }
    }
  }

  .leaflet-container {
    border-radius: 4px;
  }
}
