/* login.css — xinc login form */

.xinc-login {
  @apply py-12 px-16 rounded shadow-md mt-12 bg-white;
  outline: 1px solid #d1d5db;
  outline-offset: -1px;
}

.xinc-login h1 {
  @apply text-left mt-0;
}

.xinc-login label {
  @apply block;
}

.xinc-login input {
  @apply py-2 px-4 rounded;
  border: 1px solid #ced4da;
}

.xinc-login input[type="text"],
.xinc-login input[type="password"] {
  @apply w-full;
}

.xinc-login input.button {
  @apply inline-flex items-center rounded-3xl font-semibold py-3 px-5 bg-brand-primary text-white cursor-pointer;
  border: none;
}

.recaptcha-container {
  @apply mb-4;
}
