/* xinc-events.css — XINC event tiles */

.xinc-events__event_list__event_tile {
  @apply rounded-lg shadow-md p-6;
  border: 1px solid #dee2e6;
}

.xinc-events__event_list__event_tile img {
  @apply rounded;
}

.xinc-events__event_list__event_tile + .xinc-events__event_list__event_tile {
  @apply mt-12;
}

.xinc-events__event_list__event_tile__details svg {
  @apply size-4 mr-1.5 shrink-0;
}

.xinc-events__event_list__event_tile__details > div {
  @apply mt-3;
}

@media (max-width: 767px) {
  .xinc-events__event_list__event_tile__details {
    @apply mt-4;
  }
}

.xinc-events__event_list__event_tile__details__item {
  @apply flex items-center;
}

.xinc-events__event_list__event_tile__details__date {
  @apply font-bold;
}

.xinc-events__event_list a {
  color: #444359;
}

.xinc-events__event_list .btn-primary {
  background-color: #444359;
  @apply text-white;
}

.xinc-events__event_list .btn-primary:hover {
  background-color: #5a5873;
}
